@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  @apply flex flex-col w-full;
}
@media (max-width: 510px) {
  .wrapper {
    @apply w-full;
  }
  header {
    @apply justify-center;
  }
}

.hero_section div:last-child {
  @apply bg-[#88ab33] w-[150px] h-[150px] text-5xl flex items-center justify-center text-center rounded-[75px];
}
